# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
# !.vscode/extensions.json

REFERENCE
src/assets/icons/help_24.aseprite
src/assets/icons/help_24_opt.svg
